---
---

<div class="hamburger">
    <span class="line"></span> <!-- <span> is very much like a <div> element, but <div> is a block-level element whereas a <span> is an inline-level element -->
    <span class="line"></span>
    <span class="line"></span>
</div>